@model IEnumerable<BadmintonServiceReference.SportClub>

<h2>Sportclubs</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    <a asp-action="Leden" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Naam)</a>
</td>
            </tr>
        }

    </tbody>
</table>
